$border-radius: 20px;
$circle: 50%;

$transparent:rgba(101, 101, 101, 0.4);
$dark-transparent: rgba(67, 67, 67, 0.4);
$successful-color: rgb(92, 219, 92); 
$error-color: rgb(207, 74, 74);

$img-width: 250px;
$img-height: 150px;

$dark-color: rgb(41, 41, 41);
